<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>untitled</title>
</head>
<body>
<wo:loop list="$posts" item="$postItem">
<div><h3><wo:ERXRouteLink action="show" record="$postItem"><wo:str value="$postItem.title" /></wo:ERXRouteLink></h3><p><wo:str value="$postItem.content" /></p></div>
</wo:loop>

<p><wo:link directActionName = "default" target="_blank" >How to use curl for testing this app</wo:link></p>

</body>
</html>